{
	"cluster_address" : "CLUSTER HOSTNAME or IP ADDRESS",
	"port_number" : "8000",
	"username" : "USERNAME", 
	"password" : "PASSWORD",
	"db_directory": "/opt/filefilter/",
	"quarantine_directory" : "/quarantine",
	"credentials_file" : "filter.json"
}
